<main [attr.data-html2canvas-ignore]="summary() ? null : ''">
  <app-btn (onClick)="toggleSumary()">add / edit professional summary</app-btn>

  @if (showSummary()) {
    <app-divider />

    <form [formGroup]="summaryForm" (ngSubmit)="saveSummary()">
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        formControlName="summary"
      ></textarea>

      <app-small-divider />

      <app-btn type="save">save summary</app-btn>
    </form>

    <app-divider />
  }

  @if (summary()) {
    <div class="summary-container">
      <h3 class="highlight">Professional Summary</h3>
      <p>{{ summary() }}</p>
    </div>
  }
</main>
