main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  form {
    border-radius: 10px;

    width: 100%;
  }

  textarea {
    box-shadow:
      10px 10px 20px #bebebe,
      -1px -1px 1px #ffffff;
  }

  .summary-container {
    text-align: start;
    width: 100%;

    p {
      font-size: 0.9em;
    }
  }
}
