<main
  class="section-additional"
  [attr.data-html2canvas-ignore]="additionalInfo() ? null : ''"
  id="resume"
>
  <app-btn (onClick)="toggleForm()">add / edit additional information</app-btn>

  @if (showForm()) {
    <app-divider />
    <form [formGroup]="form" class="primary-form" (ngSubmit)="addInfo()">
      <fieldset>
        <textarea
          name="award"
          cols="30"
          rows="10"
          formControlName="additionalInfo"
          maxlength="600"
          placeholder="Up to 600 characters..."
        >
        </textarea>
      </fieldset>

      <app-small-divider />

      <app-btn type="save">save and finish additional info</app-btn>
    </form>
    <app-divider />
  }

  @if (additionalInfo()) {
    <h3 class="highlight">additional information</h3>
    <p>{{ additionalInfo()?.additionalInfo }}</p>
  }
</main>
