<main
  class="section-languages"
  [attr.data-html2canvas-ignore]="languages().length >= 1 ? null : ''"
  id="resume"
>
  <app-btn (onClick)="toggleForm()">add languages</app-btn>

  @if (showForm()) {
    <app-divider />
    <form
      class="basic-form flex-form"
      [formGroup]="form"
      (ngSubmit)="addLanguage()"
    >
      <fieldset>
        <label for="language">language*</label>
        <input
          type="text"
          formControlName="language"
          [class.error]="language?.invalid && language?.touched"
        />
      </fieldset>

      <fieldset>
        <label for="spoken">spoken*</label>
        <select
          formControlName="spoken"
          [class.error]="spoken?.invalid && spoken?.touched"
        >
          @for (level of levels; track level) {
            <option [value]="level">
              {{ level }}
            </option>
          }
        </select>
      </fieldset>

      <fieldset>
        <label for="read">read*</label>
        <select
          formControlName="read"
          [class.error]="read?.invalid && read?.touched"
        >
          @for (level of levels; track level) {
            <option [value]="level">
              {{ level }}
            </option>
          }
        </select>
      </fieldset>

      <fieldset>
        <label for="written">written*</label>
        <select
          formControlName="written"
          [class.error]="written?.invalid && written?.touched"
        >
          @for (level of levels; track level) {
            <option [value]="level">
              {{ level }}
            </option>
          }
        </select>
      </fieldset>

      <div class="btn-container">
        <app-btn type="save">save and finish languages</app-btn>
      </div>
    </form>

    <app-divider />

    <!-- EDITION LIST -->
    @for (language of languages(); track language.id) {
      <div class="edition-form">
        <div>
          <h3>{{ language.language }}</h3>
        </div>

        <div>
          <h3>{{ language.spoken }}</h3>
        </div>

        <div>
          <h3>{{ language.read }}</h3>
        </div>

        <div>
          <h3>{{ language.written }}</h3>
        </div>

        <div class="edition-btn-container">
          <app-btn (onClick)="setEditLanguage(language)" type="save"
            >Edit</app-btn
          >
          <app-btn (onClick)="deleteLanguage(language.id)" type="danger"
            >delete</app-btn
          >
        </div>
      </div>
      <app-divider />
    }
  }

  @if (languages().length >= 1) {
    <div class="section-container">
      <h3 class="highlight">languages</h3>

      <table>
        <tr>
          <th>language</th>
          <th>spoken</th>
          <th>read</th>
          <th>written</th>
        </tr>

        @for (language of languages(); track language.id) {
          <tr>
            <td>{{ language.language }}</td>
            <td>{{ language.spoken }}</td>
            <td>{{ language.read }}</td>
            <td>{{ language.written }}</td>
          </tr>
        }
      </table>
    </div>
  }
</main>

<!-- UPDATE SECTION -->
@if (languageToEdit()) {
  <div class="update-container">
    <form [formGroup]="form" class="update-form">
      <fieldset>
        <label for="language">language*</label>
        <input
          type="text"
          formControlName="language"
          [class.error]="language?.invalid && language?.touched"
        />
      </fieldset>

      <fieldset>
        <label for="spoken">spoken*</label>
        <select
          formControlName="spoken"
          [class.error]="spoken?.invalid && spoken?.touched"
        >
          @for (level of levels; track level) {
            <option [value]="level">
              {{ level }}
            </option>
          }
        </select>
      </fieldset>

      <fieldset>
        <label for="read">read*</label>
        <select
          formControlName="read"
          [class.error]="read?.invalid && read?.touched"
        >
          @for (level of levels; track level) {
            <option [value]="level">
              {{ level }}
            </option>
          }
        </select>
      </fieldset>

      <fieldset>
        <label for="written">written*</label>
        <select
          formControlName="written"
          [class.error]="written?.invalid && written?.touched"
        >
          @for (level of levels; track level) {
            <option [value]="level">
              {{ level }}
            </option>
          }
        </select>
      </fieldset>

      <div class="edit-btn-container">
        <app-btn type="save" (onClick)="updateLanguage()">save</app-btn>
        <app-btn type="save" (onClick)="setNull()">close</app-btn>
      </div>
    </form>
  </div>
}
