.experience-container {
  text-align: start;
  width: 100%;
  margin-bottom: 1rem;

  .skills {
    margin-top: 1rem;
  }

  p {
    font-size: 0.8em;
  }
}

.edit-save-container {
  display: flex;
  column-gap: 1rem;
  margin-top: 0.5rem;
}

.edit-form {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.498);

  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Espacio entre elementos */
    width: 80%;
    height: fit-content;
    padding: 1rem;
    background-color: white;

    fieldset {
      font-size: 0.8em;
      width: 100%;
      margin: 0;
    }

    textarea {
      border: 1px solid black;
      border-radius: 2px;
    }

    .save-close-container {
      display: flex;
      column-gap: 1rem;
      margin-top: 0.5rem;
      grid-column-start: 4;
    }
  }
}
