<div class="experience-container">
  <h4>{{ work.position }}</h4>
  <h5>{{ work.organization }}</h5>
  <p>
    {{ work.address }}, {{ work.city }}, {{ work.state }}
    {{ work.zipCode }}
  </p>
  <p>
    <strong>Dates:</strong> {{ work.startDate | date: "shortDate" : "UTC" }} -
    {{
      work.endDate === "Current"
        ? work.endDate
        : (work.endDate | date: "shortDate" : "UTC")
    }}
    | <strong>Salary:</strong> ${{ work.salary }} -
    <strong>Works per week: </strong>{{ work.hours }}
  </p>
  <p class="skills">
    {{ work.skills }}
  </p>

  <div class="edit-save-container">
    <app-btn (onClick)="editToggle()" type="save">Edit</app-btn>
    <app-btn (onClick)="deleteWorkExperience(work.id)" type="danger"
      >Delete</app-btn
    >
  </div>
</div>

@if (isEdition()) {
  <div class="edit-form">
    <form [formGroup]="form">
      <fieldset>
        <label for="position">position</label>
        <input
          type="text"
          [value]="work.position"
          [class.error]="position?.invalid && position?.touched"
          formControlName="position"
        />
      </fieldset>

      <fieldset>
        <label for="organization">organization</label>
        <input
          type="text"
          [value]="work.organization"
          formControlName="organization"
          [class.error]="organization?.invalid && organization?.touched"
        />
      </fieldset>

      <fieldset>
        <label for="address">address</label>
        <input
          type="text"
          [value]="work.address"
          formControlName="address"
          [class.error]="address?.invalid && address?.touched"
        />
      </fieldset>

      <fieldset>
        <label for="city">city</label>
        <input
          type="text"
          [value]="work.city"
          formControlName="city"
          [class.error]="city?.invalid && city?.touched"
        />
      </fieldset>

      <fieldset>
        <label for="state">state</label>
        <select
          formControlName="state"
          [class.error]="state?.invalid && state?.touched"
        >
          @for (state of states; track state) {
            <option [value]="state">
              {{ state }}
            </option>
          }
        </select>
      </fieldset>

      <fieldset>
        <label for="zipCode">zipCode</label>
        <input
          type="number"
          [value]="work.zipCode"
          formControlName="zipCode"
          [class.error]="zipCode?.invalid && zipCode?.touched"
        />
      </fieldset>

      <fieldset>
        <label for="startDate">Start Date</label>
        <input
          type="date"
          [value]="work.startDate"
          formControlName="startDate"
          [class.error]="startDate?.invalid && startDate?.touched"
        />
      </fieldset>

      <fieldset>
        <label for="endDate">End Date</label>
        <input
          type="date"
          [value]="work.endDate"
          formControlName="endDate"
          [class.error]="endDate?.invalid && endDate?.touched"
        />
      </fieldset>

      <fieldset>
        <label for="salary">Salary</label>
        <input
          type="number"
          [value]="work.salary"
          formControlName="salary"
          [class.error]="salary?.invalid && salary?.touched"
        />
      </fieldset>

      <fieldset>
        <label for="hours">Hours per Week</label>
        <input
          type="number"
          [value]="work.hours"
          formControlName="hours"
          [class.error]="hours?.invalid && hours?.touched"
        />
      </fieldset>

      <fieldset
       >
        <label for="skills">Related Skills</label>
        <textarea
          name="skills"
          id=""
          cols="30"
          rows="5"
          [value]="work.skills"
          formControlName="skills"
          [class.error]="skills?.invalid && skills?.touched"
          maxlength="450"
          placeholder="Up to 450 characters..."
        ></textarea>
      </fieldset>

      <div class="save-close-container">
        <app-btn (onClick)="updateWork()" type="save">Save</app-btn>
        <app-btn (onClick)="editToggle()" type="save">Close</app-btn>
      </div>
    </form>
  </div>
}
<!-- style="grid-column: span 3" -->
