<main id="resume">
  <section class="section-header">
    <h1>Base Resume</h1>

    <header>
      <h2>{{ headerFormInfo.firstName }} {{ headerFormInfo.lastName }}</h2>
      <hr />
      <h3>
        {{ headerFormInfo.street }} {{ headerFormInfo.city }},
        {{ headerFormInfo.state }} {{ headerFormInfo.zipCode }} |
        {{ headerFormInfo.phone }} | {{ headerFormInfo.email }}
      </h3>
    </header>
  </section>

  <app-divider-to-render />

  <app-field-container>
    <app-summary />
  </app-field-container>

  <app-divider-to-render />

  <app-field-container>
    <app-experience />
  </app-field-container>

  <app-divider-to-render />

  <app-field-container>
    <app-education />
  </app-field-container>

  <app-divider-to-render />

  <app-field-container>
    <app-certifications />
  </app-field-container>

  <app-divider-to-render />

  <app-field-container>
    <app-awards />
  </app-field-container>

  <app-divider-to-render />

  <app-field-container>
    <app-languages />
  </app-field-container>

  <app-divider-to-render />

  <app-field-container>
    <app-aditional-info />
  </app-field-container>

  <app-divider-to-render />

  <app-field-container>
    <app-references />
  </app-field-container>
</main>

<div
  style="
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    width: 100%;
  "
>
  <app-btn type="save" (onClick)="generatePdf()">Generate PDF</app-btn>
  <app-btn type="danger" (onClick)="storageServ.clearStorage()"
    >clear all</app-btn
  >
</div>
<div id="toInsert"></div>
