<main id="resume">
  <section class="section-header">
    <h1>Base Resume</h1>

    <header>
      <h2>{{ headerFormInfo.firstName }} {{ headerFormInfo.lastName }}</h2>
      <hr />
      <h3>
        {{ headerFormInfo.street }} {{ headerFormInfo.city }},
        {{ headerFormInfo.state }} {{ headerFormInfo.zipCode }} |
        {{ headerFormInfo.phone }} | {{ headerFormInfo.email }}
      </h3>
    </header>
  </section>
  <app-divider />

  <app-field-container>
    <app-summary />
  </app-field-container>

  <app-divider />

  <app-field-container>
    <app-experience />
  </app-field-container>

  <app-divider />

  <app-field-container>
    <app-education />
  </app-field-container>

  <app-divider />

  <app-field-container>
    <app-certifications />
  </app-field-container>

  <app-divider />

  <app-field-container>
    <app-awards />
  </app-field-container>

  <app-divider />

  <app-field-container>
    <app-languages />
  </app-field-container>

  <app-divider />

  <app-field-container>
    <app-aditional-info />
  </app-field-container>

  <app-divider />

  <app-field-container>
    <app-references />
  </app-field-container>

  <app-divider />
</main>

<button (click)="generatePdf()">Generate PDF</button>
