main {
  width: 100%;
  height: fit-content;
  padding: 3rem 0;

  .section-header {
    width: 80%;
    margin: 0 auto;

    header {
      width: 100%;

      h2 {
        text-transform: capitalize;
        font-size: 2em;
      }

      hr {
        height: 3px;
        background-color: black;
        width: 100%;
      }

      h3 {
        text-transform: capitalize;
      }
    }
  }
}

form {
  width: 80%;
  height: 50vh;
}
