<main
  [attr.data-html2canvas-ignore]="workExperiences().length >= 1 ? null : ''"
>
  <app-btn (onClick)="toggleForm()">add work experience </app-btn>

  @if (showForm()) {
    <app-divider />

    <form
      class="basic-form"
      [formGroup]="form"
      (ngSubmit)="addWorkExperience()"
    >
      <fieldset>
        <label for="position">position*</label>
        <input type="text" formControlName="position"  [class.error]="position?.invalid && position?.touched"/>
      </fieldset>

      <fieldset>
        <label for="organization">organization*</label>
        <input type="text" formControlName="organization" [class.error]="organization?.invalid && organization?.touched" />
      </fieldset>

      <fieldset>
        <label for="address">address*</label>
        <input type="text" formControlName="address"  [class.error]="address?.invalid && address?.touched"/>
      </fieldset>

      <div class="three-col">
        <fieldset>
          <label for="city">city*</label>
          <input type="text" formControlName="city" [class.error]="city?.invalid && city?.touched" />
        </fieldset>

        <fieldset>
          <label for="state">state*</label>
          <select formControlName="state" [class.error]="state?.invalid && state?.touched">
            @for (state of states; track state) {
              <option [value]="state">
                {{ state }}
              </option>
            }
          </select>
        </fieldset>

        <fieldset>
          <label for="zipCode">zip Code*</label>
          <input type="text" formControlName="zipCode" [class.error]="zipCode?.invalid && zipCode?.touched"/>
        </fieldset>
      </div>

      <div class="four-col">
        <fieldset>
          <label for="startDate">start Date*</label>
          <input type="date" formControlName="startDate"  [class.error]="startDate?.invalid && startDate?.touched"/>
        </fieldset>

        <fieldset>
          <label for="endDate">end Date*</label>
          <input type="date" formControlName="endDate"  [class.error]="endDate?.invalid && endDate?.touched"/>
        </fieldset>

        <fieldset>
          <label for="hours">hours per week*</label>
          <input type="text" formControlName="hours"  [class.error]="hours?.invalid && hours?.touched"/>
        </fieldset>

        <fieldset>
          <label for="salary">salary*</label>
          <input type="text" formControlName="salary" [class.error]="salary?.invalid && salary?.touched" />
        </fieldset>
      </div>

      <fieldset>
        <label for="skills">Duties, Accomplishments and Related Skills:*</label>
        <textarea
          name="skills"
          id=""
          cols="30"
          rows="10"
          formControlName="skills"
          [class.error]="skills?.invalid && skills?.touched"
        ></textarea>
      </fieldset>

      <div>
        <app-btn type="save">save experience</app-btn>
      </div>
    </form>

    <app-divider />
  }
  @if (workExperiences().length >= 1) {
    <div style="width: 100%">
      @for (work of workExperiences(); track work.id) {
        <app-work
          [work]="work"
          (deleteClick)="deleteWorkExperience($event)"
          (updateClick)="updateWorkExperience($event)"
        />
      }
    </div>
  }
</main>
