main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;


    fieldset {
      width: 100%;
    }

    .three-col {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.5rem;
      width: 100%;
    }

    .four-col {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 0.5rem;
      width: 100%;
    }

    textarea {
      border: 1px solid black;
    }
  }


}
